.banner {
    width: 100%;
    position: relative;
    color: $color-light-white;
    //margin-bottom: 80px;
    padding-top: 10px;
    padding-bottom: 0px;
    

    &__arrow {
        position: absolute;
        border-radius: 50px;
        border: 5px solid $color-light-white;
        background-color: $color-gray;
        img{
            fill: $color-light-white;
        }
    }

    &__list{
        max-height: 599px;
        border-radius: 30px;
        //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__item {
        position: relative;
        //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 100%;
        height: 599px; /*mobile 500*/
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background: linear-gradient(180deg, rgba(3, 6, 15, 0.8) 0%, rgba(3, 6, 15, 0.2) 100%);
        }
    }

    &__item-1 {
        background-image: url("../../img/banner.png") ;
        background-repeat: no-repeat;
        background-size:cover;
    }

    &__block-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        z-index: 3;
        max-width: 556px;
        padding: 80px  0 0 100px ;
        button{
            margin-top: 38px;
            max-width: 240px;
        }
    }

    &__text-header {
        color: $color-light-white;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__text-description {
        flex-wrap: wrap;
        color: $color-light-white;
    }

    &__block-bottom {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        z-index: 3;
        border-radius: 0 50px 0 50px;
        max-width: 573px;
        padding: 35px 30px 39px;
        width: 100%;
        border: 20px solid  $color-light-white;
        //border-top: 20px solid $color-light-white;
        //border-right: 20px solid  $color-light-white;
        background-color: $color-blue;
        
        bottom: -20px;
        left: 80px;

        button{
            max-width: 210px;
        }
    }

    &__block-wrapper{
        display: flex;
        width: 100%;
        gap: 15px;
        margin-top: 15px;
        align-items: center;
        justify-content: space-between;
    }

    &__block-text {
        color: $color-light-white;
        width: 100%;
        font-size: 1.125rem;
    }

    &__authorization-text {
        color: $color-light-white;
        max-width: 265px;
    }
}

.popular-category {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-bottom: 0px;

    &__head {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
    }

    &__title {
    }

    &__button-catalog {
    }

    &__list {
        min-height: 350px;
        height: 100%;
    }

}

.popular-item {
	border-radius: 10px;
	background-color: $color-white;
	transition: box-shadow 0.3s ease;
    height: 240px;
	&:hover {
		box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.25);
    }
    &:hover &__title{
        color: $color-orange;
    }
	&__content {
        height: 240px;
		padding: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
	}
	// .popular-item__title
	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 130%;
		color: $color-black;
		margin-bottom: 10px;
        transition: all 0.2s;
	}

	// .popular-item__img
	&__img {
		background: url('path_to_image');
		mix-blend-mode: multiply;
        margin-top: auto ;
        display: flex;
        justify-content: center;
        
        img{
            max-height: 125px;
        }
	}
}

.brands {
    padding-inline:0 ;
    h2{
        padding-inline: 80px;
        font-size: 2.25rem;
        font-weight: 500;   
    }
    &__container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list {
        .swiper-wrapper{
            align-items:center;
            transition-timing-function: linear;
        }
    }

    &__item { 
        opacity: 0.5;
        filter: grayscale(100%);
        transition: all 0.2s;

        &:hover{
            opacity: 1;
            filter: grayscale(0%);
        }
        img{
            max-height: 84px;
        }
    }
   
}

.main-catalog{
    background: $color-white;
    width: 100%;
    position: relative;
    padding-bottom: 20px;


    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        h2{
            font-weight: 500;   
            position: relative;
            &::after{
                display: inline-block;
                content: '';
                mask-image: url("../../icons/arrow/long-arow-right.svg");
                width: 24px;
                height: 16px;
                align-self: center;
                background-color: $color-orange;
                margin-left: 10px;
            }
            &:hover::after{
                transform:translateX(20px);

            }
        }
    }

    &__tabs {
        display: flex;
        gap: 5px;
        align-items: center;
   
    }

    &__tab {
        border-radius: 25px;
        background-color: $color-light-white;
        color: $color-black;
        width: 100%;
        max-height: 100%;
        padding: 8px 20px;
        text-wrap: nowrap;
       
        &.active{
            border: 1px solid $color-black;
            background-color: $color-black ;
            color: $color-light-white;
        }
    }

    &__container {

        .category-products__list{
            min-height: 600px;
      
        }

    }

    .category-product{
        max-width: 100%;
        min-width: 0;
        max-height: 560px;

    }
    .main-catalog__pagination{
        display: none;
        justify-self: center;
        align-self:center;
        margin-top: -60px;
    }
    &__button{
        margin-top: 20px;
    }
}

.material {
    background: $color-white;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
    
   
    &__head {
        display: flex;
        justify-content: space-between;
        h2{
            font-weight: 500;   
            position: relative;
            &::after{
                display: inline-block;
                content: '';
                mask-image: url("../../icons/arrow/long-arow-right.svg");
                width: 24px;
                height: 16px;
                align-self: center;
                background-color: $color-orange;
                margin-left: 10px;
            }
            &:hover::after{
                transform:translateX(20px);
            }
        }
    }

    &__tabs {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__tab {
        border-radius: 25px;
        background-color: $color-light-white;
        color: $color-black;
        width: 100%;
        max-height: 100%;
        padding: 8px 20px;
        &.active{
            border: 1px solid $color-black;
            background-color: $color-black ;
            color: $color-light-white;
        }
    }

    &__container {
        min-height: 500px
    }

    &__list {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
    }

    &__item {
        background: $color-light-white;
        height: 420px;
        width: 30%;
        border-radius: 10px;
        transition: all 0.2s;
        
        &:hover{
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
        }

        position: relative;
        &::after{
            position: absolute;
            display: block;
            content: '';
            mask-image: url("../../icons/arrow/long-arow-right.svg");
            width: 24px;
            height: 16px;
            background-color: $color-orange;

            bottom: 15px;
            right: 20px;
            opacity: 0;
            transition: all 0.2s;
        }
        &:hover::after{
            opacity: 1;
        }
    }

    &__item-img {
        img{
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 240px;
        }
    }

    &__text {
        height: 180px;
        position: relative;
        padding: 30px 35px;
    }

    &__date {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.3;
        color: $color-dark-gray;
    }

    &__title {
        margin-top: 5px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.3;
        color: $color-black;
    }

    &__description {
        margin-top: 10px;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 1.3;
        color: $color-black;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}

.advantages {
    overflow: visible;
    h2{
        font-weight: 500;   
    }

    &__container {
        overflow: visible;
        margin-top: 40px;
        color: $color-black;
        line-height: 1.3;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
        max-height: 620px;
    }

    &__block {
        position: relative;
        background: $color-white;
        height: 256px;
        max-width: 305px;
        width: 25%;
        border-radius: 30px;
        padding: 30px;
        transition: all 0.2s;

        &:hover{
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
        }
        &-h100{
            flex: 0 0 auto;
            height: auto;
        }

        &:last-child{
            height: calc(256px * 2 + 15px);
            display: flex;
            flex-direction: column;
            img{
                max-width: 80px;
                max-height: 66px;
            }
            button{
                margin-top: auto;              
            }
        }
        
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        margin-top: 17px;
        margin-bottom: 10px;
    }

    &__show-more{
        margin-top: 20px;
    }
}

.information {
    padding-bottom: 20px;
    h2{
        font-weight: 500;   
    }
    //margin-bottom: 100px;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-radius: 30px;
        background-color: $color-cyan;
        color: $color-light-white;
        padding: 40px;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__block {
        max-width: 890px;
        width: 80%;
        max-height: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__block-img {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    &__more-detailed{
        a{
            font-weight: 500;
            @include style-text-btn-center;
            justify-content: left;
            &::after{
                display: block;
                position: relative;
                background-color: $color-light-white;
                
            }
            &:hover::after{
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 1200px) {
	.advantages {
        &__container {
            max-height: 1000px;
        }
        &__block {
            max-width: 30%;
            width: 100%;
        }
    }

    .information {
        
         
    
        
        &__container {
            
        }
    
        &__block {
            max-width: 890px;
            width: 70%;
         
            max-height: 340px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width: 768px) {
    .banner {
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: end;
            height: 500px;
        }

        &__block-top {
            padding: 20px;
            
        }

        &__text-header {
            h1{
                font-size: 2rem;
            }
        }

    }

    .main-catalog{
        &__head {
            display: flex;
            justify-content: left;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            h2{
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            
        }
        &__tab {
            flex-wrap: wrap;
            width: auto;
        }
        .main-catalog__pagination{
            display: block;
            justify-self: center;
            align-self:center;
        }

    }

    .material {
        padding-bottom: 0;
       
        &__head {
            display: flex;
            justify-content: left;
            flex-direction: column;
            gap: 10px;
            h2{
                font-size: 1.5rem;
               
            }
        }
        &__tab {
            
            width: auto;
    
        }

        &__text{
            padding: 20px;
        }

        &__description{

        }
    }
    
    .brands {
        padding-inline: 20px;
        h2{
            padding-inline: 0;
            font-size: 1.5rem;
            font-weight: 500;   
        }
    }

    .information {
    
        &__container {
            flex-direction: column;
            height: 420px;
            padding: 30px;
            font-size: 0.875rem;
        }
    
        &__block {
            max-height: 230px;
            width: 100%;
        }
    
        &__block-img {
            max-width: 220px;
            max-height: 220px;
            right: -50px;
        }

        .text-margin-top{
            margin-top: 20px;
        }
    }

    .advantages {
        overflow: visible;
    
        &__container {
            margin-top: 20px;
            max-height: 100%;
            flex-wrap: nowrap;
            overflow: hidden;
        }
    
        &__block {
            max-width:100%;
            &:last-child{
                .advantages__description{
                    margin-bottom: 20px;
                }
                height: 100%;
            }
        }

        &__description {
        }
    
        
        &__show-more{
            margin-top: 20px;
        }
    }

    
    .popular-category {

        padding-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .popular-category {
        display: flex;
        justify-content: center;

    
        &__head {
   
        }
    
        &__title {
        }
    
        &__button-catalog {
        }
    
        &__list {
            max-height: 520px;

    
            .swiper-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                width: 100%;
                transform: translate3d( 0px, 0px, 0px) !important;
             
            }
    
            .popular-item{
                max-width: 230px;
                width: calc((100% - 30px) / 2) !important;
                margin-right: 0 !important;
                &__content{
                    max-height: 200px;
                    padding: 10px;
                }
               
            }
        }
    }
	
}

.popular-button-prev,
.popular-button-next{
    top: 260px
}