div.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

div.simplebar-content-wrapper {
  outline: none;
}

div.simplebar-track.simplebar-vertical {
  width: 4px;
}

div.simplebar-track.simplebar-horizontal {
  height: 4px;
}

.simplebar-scrollbar:before {
  border-radius: 0;
}

.simplebar-track {
  background-color: $color-white;
	border-radius: 2px;
}

.simplebar-scrollbar {
	background-color: $color-gray;
	border-radius: 2px;
}

.simplebar-scrollbar:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}